# IDE - Idea
.idea
*.iml

# IDE - VSCode
*/.vscode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/target
**/pom.xml.versionsBackup

src/it/deploy-function-it/build.log
