openapi: 3.0.1
info:
  title: Poly API
  description: Endpoints that allow users to execute functions on PolyAPI
  version: 'v1'
servers:
  - url: https://develop.polyapi.io
paths:
  /functions/url/5bc87056-6cae-4910-a67c-c307e4a1074e:
    post:
      operationId: upsRatingGetRate
      description: This API call allows you to retrieve shipping rates for a shipment. The request payload includes shipment details such as shipper and recipient addresses, package dimensions and weight, and shipping service. The response payload includes the shipping rate and other details such as billing weight and service options charges. The API call uses HTTPS protocol and requires authentication. The context is 'ups.rating' and the name is 'rate'.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upsRatingGetRateBody'
      responses:
        "201":
          description: Shipping rates for a location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upsRatingGetRateResponse'
  /functions/url/cc1b01eb-943d-44d7-9d86-12fad080bd1e:
    post:
      operationId: upsAuthGetToken
      description: This API call retrieves an OAuth token from UPS for use in subsequent API calls. The token is obtained using client credentials grant type. The token is returned in the response payload along with other information such as token type, issued at, and expiration time. The context for this call is 'ups.security' and the name is 'getToken'
      # no request body needed?
      # requestBody:
      #   required: true
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/upsAuthGetTokenBody'
      responses:
        "201":
          description: Oauth token from UPS for use in subsequent API calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upsAuthGetTokenResponse'
  /functions/url/a2121768-6a25-4814-8b97-3c687e5c50b2:
    post:
      operationId: operaCloudPmsParSearchAvailability
      description: This API call retrieves the availability of a hotel room for a specific date range. The request includes parameters such as roomStayStartDate, roomStayEndDate, roomStayQuantity, adults, children, and limit. The response includes information on the room rates, currency code, room type, rate plan code, start and end dates, and more. The API call also includes a link to create a reservation for the selected room. This API call is part of the Hospitality API and can be used to integrate hotel availability information into third-party applications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/operaCloudPmsParSearchAvailabilityBody'
      responses:
        "201":
          description: availability of a hotel room for a specific date range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operaCloudPmsParSearchAvailabilityResponse'
components:
  schemas:
    upsRatingGetRateBody:
      type: object
      properties:
        payload:
          type: object
          properties:
            name:
              type: string
            city:
              type: string
            stateShort:
              type: string
            zipCode:
              type: string
            countryShort:
              type: string
            l:
              type: string
            w:
              type: string
            h:
              type: string
            packageWeight:
              type: string
            token:
              type: string
    upsRatingGetRateResponse:
      # TODO this is fake, still need to do the real version
      type: object
      properties:
        totalCharges:
          type: number
          description: The rate to charge
    upsLocationsSearchAvailabilitiesBody:
      type: object
      properties:
        payload:
          type: object
          properties:
            address:
              type: string
            city:
              type: string
            stateShort:
              type: string
            zipCode:
              type: string
            countryShort:
              type: string
            searchRadiusMiles:
              type: number
            token:
              type: string
    upsLocationsSearchAvailabilitiesResponse:
      type: object
      properties:
        FAKE:
          type: string
    upsAuthGetTokenResponse:
      type: object
      properties:
        token_type:
          type: string
        issued_at:
          type: string
        client_id:
          type: string
        access_token:
          type: string
        scope:
          type: string
        expires_in:
          type: string
        refresh_count:
          type: string
        status:
          type: string
    operaCloudPmsParSearchAvailabilityBody:
      type: object
      properties:
        arrivalDate:
          type: string
        departureDate:
          type: string
        numberRooms:
          type: number
        numberAdults:
          type: number
        numberChildren:
          type: number
        token:
          type: string
    operaCloudPmsParSearchAvailabilityResponse:
      type: object
      properties:
        FAKE:
          type: string