openapi: 3.0.1
info:
  title: Poly API
  description: Endpoints that allow users to execute functions on PolyAPI
  version: 'v1'
servers:
  - url: https://develop.polyapi.io
paths:
  /functions/custom/af6063f3-5cff-48ee-b0f9-6f077e5b5428/execute:
    post:
      operationId: operaReservation
      summary: takes in details about a guest and books a reservation for them at our specific hotel The Dreams Hotel In the Sands
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/operaReservationArgs'
      responses:
        "201":
          description: reservation ID of the newly created reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operaReservationResponse'
  /functions/custom/c5f3630c-f751-4447-ac82-1971aaff0e6b/execute:
    post:
      operationId: operaAvailability
      summary: takes details of a guests desired stay and checks availability for those dates, number of people, at our specific hotel The Dreams Hotel In the Sands
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/operaAvailabilityArgs'
      responses:
        "201":
          description: a list of availabilities with room codes and total costs before tax for their desired stay
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operaAvailabilityResponse'
  /functions/url/ec66c324-80fe-4d9a-a5fa-2f7f38384155/execute:
    post:
      operationId: twilioSendSms
      summary: send an sms message to a phone number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/twilioSendSmsArgs'
      responses:
        "201":
          description: details about the sms that was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/twilioSendSmsResponse'
  /functions/custom/33dd29b3-2380-4e45-9217-d0344ca2d5e6/execute:
    post:
      operationId: upsLocation
      summary: find a ups pickup or dropoff location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upsLocationArgs'
      responses:
        "201":
          description: Address of nearest UPS Location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upsLocationResponse'
components:
  schemas:
    twilioSendSmsArgs:
      type: object
      properties:
        args:
          type: array
          items:
            type: string
          description: first argument is phone number and second is the message
    twilioSendSmsResponse:
      type: object
      properties:
        status:
          type: string
    operaReservationArgs:
      type: object
      properties:
        args:
          type: array
          items:
            type: string
          description: an array of strings and numbers - firstName, lastName, arrivalDate, departureDate, numberAdults, numberChildren, roomType, numberRooms, phoneNumber
    operaReservationResponse:
      type: string
      description: reservation ID as a string
    operaAvailabilityArgs:
      type: object
      properties:
        args:
          type: array
          items:
            type: string
          description: arrivalDate, departureDate, numAdults, numChildren, numRooms
    operaAvailabilityResponse:
      type: array
      items:
        type: object
        properties:
          costBeforeTax:
            type: number
          currency:
            type: string
          roomType:
            type: string
          ratePlanCode:
            type: string
          numberOfUnits:
            type: number
    upsLocationArgs:
      type: object
      properties:
        args:
          type: array
          items:
            type: string
          description: an array of strings and numbers - address, city, stateShort, zip, countryShort, searchRadiusMiles
    upsLocationResponse:
      type: string
      description: Address of nearest UPS Location