[Unit]
Description=poly api
After=network.target

[Service]
EnvironmentFile=/home/ubuntu/poly-alpha/.env
WorkingDirectory=/home/ubuntu/poly-alpha
ExecStart=node /home/ubuntu/poly-alpha/dist/src/main
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
