[Unit]
Description=science server
After=network.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/poly-alpha/.env
WorkingDirectory=/home/ubuntu/poly-alpha/science
ExecStart=uwsgi --ini /home/ubuntu/poly-alpha/science/uwsgi.ini
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
